// .image-list {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     grid-gap: 1px 10px;
//     grid-auto-rows: 10px;
//     // justify-content: center;
//     // align-items: center;
//     overflow-x: hidden;
//     // grid-template-columns: 1fr 1fr 1fr;

// }

.image-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1px 10px;
    grid-auto-rows: 10px;
    // justify-content: center;
    // align-items: center;
    overflow-x: hidden;
    // grid-template-columns: 1fr 1fr 1fr;

}



body {
    overflow-x: hidden;
}

.image-list img {
    width: 250px;
    grid-row-end: span 2;
}

.image-container {
    position: relative;
    padding: 1rem;
}


.tags {
    z-index: 2;
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
    background: transparent;
    
}

.photo-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

}

.bg-hero-photo {
      background-image: url('../../images/picture-hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.photo-hero-text {
    // font-size: 2rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Anton', sans-serif;
}




// button start

.example_d {
cursor: pointer;
color: #20bf6b !important;
text-transform: uppercase;
background: #ffffff;
padding: 10px 20px;
border: 4px solid #20bf6b !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
z-index: 500;
}

.example_d:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}

// button end