.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-heading-text {
    padding: 0 15rem;
    
}

@media(max-width: 1025px){
    .contest-heading-text {
        padding: 0 0rem;

    }

}

.bg-contest {
    background-image: url('../../images/contest-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}