.form-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contest-heading-text {
    padding: 0 15rem;
}

@media(max-width: 625px){
    .contest-heading-text {

    }


}