.header-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    height: 75vh;
    background: #52A7DD;
    // grid-gap: .2rem;
    background-image: url('../../images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.heading-img {
    
}

.heading-text {
    // padding: 3rem;
    margin: auto;

}

.btn-hero {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: all .5s ease-in-out;
}

.btn-hero:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background: #222;

}

.btn-text {
    font-weight: bold;
}
.card-width{
    width: 20rem!important;
}

@media(max-width: 320px){
    .heading-text {
        margin: 0;

    }

}

// slick slider start

.slide-container {
      display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   
    grid-gap: .8rem;

}

.figure-container {
}

.figure-container:focus {
    outline: none;
}

.fig-image {
    background-image: url('../../images/image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    
    cursor: pointer;
}

.youth-biking-image {
    background-image: url('../../images/youthbiking.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    
    cursor: pointer;
}

.mascot {
    background-image: url('../../images/mascots.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    
    cursor: pointer;
}

.olympic {
    background-image: url('../../images/olympic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    cursor: pointer;
}


.wis {
    background-image: url('../../images/wis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    cursor: pointer;
}

.sfj {
    background-image: url('../../images/sfj.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    transition: all .5s ease-in-out;
    overflow: auto;
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
    cursor: pointer;
}




.fig-image:hover {
    // filter: grayscale(0%);
}



.tag {
    // background: #52A7DD;
    padding: .3rem;    
    display: inline;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    
}





.figure-caption {
    // background: #52A7DD;
    padding: .5rem;
}



.caption-text {
    transition: all .2s ease-in;
    cursor: pointer;

color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.caption-text:hover {
    color: #52A7DD
}

button.slick-arrow {
    background: #777;
    // fill: #115C8D;
    border-radius: 50%;
}

.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
    background: #777;

}

.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
    
    color: transparent!important;
    outline: none!important;
    background: #777!important;

}


@media(min-width: 768px){
    .show-big {
        display: block;
        // background: pink!important;
    }
     .show-small {
        display: none;
    }
}

@media(max-width: 767px){
    .show-big {
        display: none;
    }
    .show-small {
        display: block;
    }
}

// slick slider end



// past winners start

.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color;
    border-color;
}


// past winners end


.winners-container {
     display: grid;
    // grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    // justify-content: center;
    // background: palegoldenrod;
    // height: 16rem;
    grid-gap: .8rem;
}

.footer-container {
    padding: 3rem 0rem;
    display: grid;
    // grid-template-rows: repeat(2,1fr);
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    justify-content: center;
    // background: palegoldenrod;
    // height: 16rem;
    // align-items: center;
    grid-gap: .8rem;
}

.footer-heading-text {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .9rem;
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-list-item {
    list-style-type: none;
    text-transform: uppercase;
    font-size: .75rem;
    color: #777;
    font-weight: 600;
}

.hero-intro-text {

background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: 600;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.bg-purple {
    background: #663399;
}