/* The Magic */
ul {
    margin: 0;
    padding: 0;
}


.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 6rem;
  
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow-y: scroll;
    transition: height .25s;
    color: #444;
    padding-left: .5rem;
    font-size: .9rem;
}

.accordion-item-content li {
    padding-bottom: .5rem;
}


/* Aesthetic */


.accordion {
    padding: 0;
    margin: 0 auto;
    // width: 90vw;
    // font-family: "PT Sans" sans-serif;
}

.accordion .accordion-item {
//   background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  border-bottom: .1px solid #222;
  padding: .8rem;
  color: #777;
  cursor: pointer;
}

.accordion-item-content {
//   background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);

}

.accordion p {
  margin: 0;
  color: #111;
}




.accordion .accordion-item:nth-child(odd) {
     -webkit-border-radius: .2rem;
            border-radius: .2rem;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: -1;
}


.accordion .accordion-item:nth-child(odd) {
//   background-color: hsl(280, 60%, 45%);
//   background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

.accordion .accordion-item:nth-child(3) {
//   background-color: hsl(40, 80%, 40%);
//   background-image: linear-gradient(-90deg, hsl(40, 80%, 60%), hsl(40, 80%, 45%) 2em, hsl(40, 80%, 60%));
}

.accordion .accordion-item:nth-child(4) {
//   background-color: hsl(80, 40%, 40%);
//   background-image: linear-gradient(-90deg, hsl(80, 80%, 40%), hsl(80, 80%, 35%) 2em, hsl(80, 80%, 40%));
}